[project]
	description = ItemBased Collaborative Filtering in Apache Spark
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kranthi (kranthisai)
[access "refs/for/refs/*"]
	read = group user/Kranthi (kranthisai)
	push = group user/Kranthi (kranthisai)
	label-Code-Review = -2..+2 group user/Kranthi (kranthisai)
	label-Verified = -1..+1 group user/Kranthi (kranthisai)
	rebase = group user/Kranthi (kranthisai)
	removeReviewer = group user/Kranthi (kranthisai)
	submit = group user/Kranthi (kranthisai)
[access "refs/heads/*"]
	read = group user/Kranthi (kranthisai)
	create = group user/Kranthi (kranthisai)
	push = +force group user/Kranthi (kranthisai)
	pushMerge = group user/Kranthi (kranthisai)
[access "refs/tags/*"]
	push = +force group user/Kranthi (kranthisai)
	pushTag = group user/Kranthi (kranthisai)
	pushSignedTag = group user/Kranthi (kranthisai)
